<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Listado de Pacientes</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="/estilos.css">
</head>
<body>
    <h1>Listado de Selecciones</h1>
	<div class="container">
		<table class="table table-bordered">
			<thead class="table-success">
				<tr>
					<td>Id</td>
					<td>Nombre</td>
					<td>Continente</td>
					<td>Grupo</td>
					<td>Acciones</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="seleccion: ${seleccion}">
					<td th:text="${seleccion.id}"></td>
					<td th:text="${seleccion.nombre}"></td>
					<td th:text="${seleccion.continente}"></td>
					<td th:text="${seleccion.grupo}"></td>
					 <td> 
				  <a th:href="@{/selecciones/ver/{id}(id=${seleccion.id})}" class="btn btn-info">Ver</a>
                  <a th:href="@{/selecciones/editar/{id}(id=${seleccion.id})}" class="btn btn-info">Editar</a>
                  <a th:href="@{/selecciones/{id}(id=${seleccion.id})}" class="btn btn-info">Eliminar</a>
                  </td>
				</tr>
			</tbody>
		</table>
		<a href="/selecciones/registrar"><button class="btn btn-info">Agregar Seleccion</button></a>
	</div>
</body>
</html>